body {
  background-color: #FF0000; /* warna kuning cerah*/
  font-family: Arial, sans-serif; /* jenis huruf yang bersih dan mudah dibaca */
  color: #000000; /*warna teks utama(biru gelap) */
}

.kartu-profil {
  width: 300px; /* 50 px jarak atas/bawah dan auto mengarahkan kanan/kiri */
  margin: 50px auto; 
  padding: 20px;
  background-color: white;
  border-radius: 15px; /*membuat sudut menjadi melengkung*/
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /*efek bayangan*/
  text-align: center; /*menengahkan semua teks di dalam kartu*/
}

.kartu-profil img {
width: 150px;
border-radius: 50%; /*trik untuk membuat gambar persdegi menjadi lingkaran*/
}
